# exclude all dot files & directories (.github, .idea, .prettierrc etc)
.*
 
/node_modules
/lib
/examples
/test
/dist/test
/dist/examples
 
index.ts
 
CONTRIBUTING.md
eslint.config.mjs
tsconfig.json
tsup.config.ts